.article-container {
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  h1 {
    font-family: "Playfair Display", Times, serif;
    font-weight: 600;
  }
}

.comment {
  border: 1px solid rgb(158, 154, 154);
  border-radius: 10px;
  padding: 30px;
  width: 60vw;
}
.delete-btn-comment {
  padding: 20px;
  background-color: rgb(185, 64, 64);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
